@import '_reset.scss';
@import '_variables';
@import '_fonts';

#homeMain {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/logo.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: $font1;
}

#homeHeader {
    background-color: $color1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

#menuBtnContainer {
    //border: 1px solid red;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        text-align: center;
        font-size: 7vw;
        color: $color1;
    }
    a {
        font-size: 10vw;
        color: $color2;
    }
}